{% extends 'base.html' %}

{% block content %}
    <div class="dashboard-container">
        <h1>Bienvenido, {{ current_user.first_name or current_user.username }}</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="flash-{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h2>Tu estado de asistencia para hoy es:</h2>
        <div class="status">
            {% if record is none %}
                No ha marcado
            {% elif record.check_out_time is none %}
                Entrada Marcada
            {% else %}
                Salida Marcada
            {% endif %}
        </div>

        {% if record is none %}
            <form action="{{ url_for('dashboard.mark_attendance') }}" method="POST">
                <button type="submit" class="btn">Marcar Entrada</button>
            </form>
        {% elif record.check_out_time is none %}
            {# User has checked in, but not out #}

            {% if record.lunch_start_time is none %}
                <form action="{{ url_for('dashboard.mark_lunch') }}" method="POST" style="display: inline-block;">
                    <button type="submit" class="btn btn-lunch">Iniciar Almuerzo</button>
                </form>
            {% elif record.lunch_end_time is none %}
                <form action="{{ url_for('dashboard.mark_lunch') }}" method="POST" style="display: inline-block;">
                    <button type="submit" class="btn btn-lunch">Finalizar Almuerzo</button>
                </form>
            {% endif %}

            <form action="{{ url_for('dashboard.mark_attendance') }}" method="POST" style="display: inline-block;">
                <button type="submit" class="btn btn-checkout" 
                    {% if record.lunch_start_time and not record.lunch_end_time %}disabled{% endif %}>
                    Marcar Salida
                </button>
            </form>

        {% else %}
            <button type="submit" class="btn" disabled>Jornada Finalizada</button>
        {% endif %}
        
        <div class="mt-4">
            <a href="{{ url_for('dashboard.leave') }}" class="btn btn-info">Gestionar Vacaciones</a>
        </div>

        <p style="margin-top: 30px;"><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></p>
    </div>
{% endblock %}